@model IEnumerable<CollegeProject.Models.AgentTaskModel>

@{
    ViewData["Title"] = "GetAdminsPresentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100vh;width:100%;">
 <h1 style="text-align:center;">GetAdminsPresentList</h1>


 <div style="width:87%;height:60vh; margin-left:6.5%;">
    <table class="table table-bordered table-striped table-hover  mb-2" id="table1"  />
           
        <thead>
            <tr>
                <th>OrderId</th>
                <th>CompanyID</th>
                <th>VendorName</th>
                <th>VendorPhone</th>
                <th>CustomerId</th>
                <th>CustomerName</th>
                <th>CustomerAddress</th>
                <th>CustomerPhone</th>
                <th>CreatedDate</th>
                <th>ReceiverAgentId</th>
                <th>ReceiverAgentName</th>
                <th>ReceiverAgentPhone</th>
                <th>DeliveredDate</th>
                <th>DeliveryAgentId</th>
                <th>DeliveryAgentName</th>
                <th>DeliveryAgentPhone</th>
                <th>Delivery Charge</th>
                <th>Total Amount</th>
                <th>DeliveryStatus</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
 </div>
</div>
<div class="modal " tabindex="-1" id="Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Status Update</h5>
            </div>
            <div class="modal-body" id="DetailsBody">
                <p>Are you sure want to update the status?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="ConfirmButton" >Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        GetPresentList();
        debugger;
    })
    function GetPresentList(){
        $.ajax({
            url: '@Url.Action("GetAdminsPresentJSON","Admin")',
            type:'Get',
            dataType:'Json',
            success:function(response){
                if(response!=null){
                    debugger;
                    var row='';
                    for(var i =0;i<response.length;i++){
                        if (response[i].deliveryStatus == 'Arrived at Warehouse' || response[i].deliveryStatus == 'Picked up by Agent'){
                           
                            var disableButton = '';
                        }
                        else{
                            var disableButton = 'disabled'
                        }
                        
                        row +=`
                                <tr>
                                        <td>${response[i].orderId}</td>
                                        <td>${response[i].companyID}</td>
                                        <td>${response[i].vendorName}</td>
                                        <td>${response[i].vendorPhone}</td>
                                        <td>${response[i].customerId}</td>
                                        <td>${response[i].customerName}</td>
                                        <td>${response[i].customerAddress}</td>
                                        <td>${response[i].customerPhone}</td>
                                        <td>${response[i].createdDate}</td>
                                        <td>${response[i].receiverAgentId}</td>
                                        <td>${response[i].receiverAgentName}</td>
                                        <td>${response[i].receiverAgentPhone}</td>
                                        <td>${response[i].deliveredDate}</td>
                                        <td>${response[i].deliveryAgentId}</td>
                                        <td>${response[i].deliveryAgentName}</td>
                                        <td>${response[i].deliveryAgentPhone}</td>
                                        <td>${response[i].deliveryCharge}</td>
                                        <td>${response[i].totalAmount}</td>
                                                <td><input type="button" value="${response[i].deliveryStatus}" id=Status${response[i].orderId} ${disableButton} onclick="ShowModal(${response[i].orderId})" class="btn btn-success"/></td>
      
                                </tr>                                              
                        `;
                        $("#table1 tbody").html(row);
                    }
                    $("#table1").DataTable({
                        "scrollX": true,    // Enable horizontal scrolling
                        "paging": false,    // Disable paging, as horizontal scrolling will handle navigation
                        "scrollCollapse": true,
                        "scrollY": '60vh'
                        
                    });
                }
            },
            error:function(xhr,status,error){
                alert("Error Occured");
            }
          
        })
    }
</script>
<script>
    function ShowModal(OrderId){
      
        $("#Modal").modal('show');
        $("#Modal").data('OrderId',OrderId);

        $("#ConfirmButton").click(function(){
            var OrderID = $("#Modal").data('OrderID');
            UpdateStatus(OrderId);
            $("#Modal").modal('hide');
        });
        
    }
</script>

<script>
    function UpdateStatus(OrderId){
      
        $.ajax({
            url:'@Url.Action("UpdateDeliveryStatus","Admin")',
            type:'Get',
            data:{
                OrderId: OrderId
            },
            dataType:'Json',
            success:function(response){
                if (response.deliveryStatus != null) {
                    if (response.deliveryStatus != 'Arrived at Warehouse' || response.deliveryStatus != 'Dispatched For Delivery') {
                        $("#Status" + OrderId).val(response.deliveryStatus);
                        
                        if (response.deliveryStatus = 'Dispatched For Delivery'){
                            $("#Status"+OrderId).prop("disabled",true);
                            
                        }
                    }
                    
                    else{
                        $("#Status" + OrderId).val(response.deliveryStatus);
                        alert("Cannot update the this status by the admin");

                    }
                }
            },
            error:function(xhr,status,error){
                alert("error occured");
            }
        })
    }
</script>
