@model CollegeProject.Models.Admin
@{
    ViewData["Title"] = "AdminRegistration";
}

<h1>AdminRegistration</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AdminName" class="control-label"></label>
            <input asp-for="AdminName" class="form-control" />
            <span asp-validation-for="AdminName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AdminPhone" class="control-label"></label>
            <input asp-for="AdminPhone" class="form-control" />
            <span asp-validation-for="AdminPhone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AdminEmail" class="control-label"></label>
            <input asp-for="AdminEmail" class="form-control" />
            <span asp-validation-for="AdminEmail" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="AdminPassword" class="control-label"></label>
            <input asp-for="AdminPassword" class="form-control" type="password" />
            <span asp-validation-for="AdminPassword" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <input asp-for="_isSuperAdmin" class="form-check-input" type="checkbox" id="roleCheckCheckbox" />
            <label class="form-check-label" for="roleCheckCheckbox">Is Super Admin</label>
        </div>
        <div class="form-group">
            <input type="submit" onclick="AdminRegistration()" value="Create" class="btn btn-success" />
        </div>
        <div class="center-container">
            <a asp-action="AdminLoggingIn" asp-controller="Log" class="centered-link" style="color:#f9004d;">Back to LogIn</a>
        </div>

    </div>
</div>



<script>
    function AdminRegistration() {
        var AdminName = $("#AdminName").val();
        var AdminPhone = $("#AdminPhone").val();
        var AdminEmail = $("#AdminEmail").val();
        var AdminPassword = $("#AdminPassword").val();

        if (!/^(98|97)[\d]{8}$/.test(AdminPhone)) {
            alert("Company Phone Number must start from 98/97 and must be 10 numbers");
            return;
        }
        var emailRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (!emailRegex.test(AdminEmail)) {
            alert("Invalid Email Format");
            return;
        }

        var passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@@#$%^&*(),.?":{}|<>])[A-Za-z\d!@@#$%^&*(),.?":{}|<>]{8,20}$/;

        if (!passwordRegex.test(AdminPassword)) {
            alert("Password must meet the following requirements:\n" +
                "1. Have at least one uppercase letter\n" +
                "2. Have at least one lowercase letter\n" +
                "3. Have at least one number\n" +
                "4. Have at least one special character\n" +
                "5. Be between 8 and 20 characters in length");
            return;
        }

        var isChecked = document.getElementById("roleCheckCheckbox").checked;
        var isSuperAdmin = false;
        if (isChecked) {
            isSuperAdmin = true;
        } 
        else {
            isSuperAdmin = false;
        }

        $.ajax({
            url: '@Url.Action("AdminRegistration","Project")',
            type: 'Post',
            data: {
                AdminName: AdminName,
                AdminEmail: AdminEmail,
                AdminPhone: AdminPhone,
                _isSuperAdmin : isSuperAdmin,
                AdminPassword: AdminPassword
            },
            dataType: 'Json',
            success: function (response) {
                if (response.responseCode != null) {
                    alert(response.responseMessage);
                    window.location.href = '@Url.Action("AdminRegistration","Project")';
                }
                else {
                    alert("Agent Registration Failed!!!");
                    window.location.href = '@Url.Action("AdminRegistration","Project")';
                }

            },
            error: function (xhr, status, error) {
                alert("Error Occured");
            }
        })
    }
</script>