@model CollegeProject.Models.Vendor

@{
    ViewData["Title"] = "VendorRegistration";
}

<h1>VendorRegistration</h1>
<hr />
<div class="row">
    <div class="col-md-4">
    
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" id="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label"></label>
                <input asp-for="CompanyAddress" id="CompanyAddress" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhone" class="control-label"></label>
                <input asp-for="CompanyPhone" id="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyEmail" class="control-label"></label>
                <input asp-for="CompanyEmail" id="CompanyEmail" class="form-control" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" id="Password" class="form-control" type="password"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" onclick="VendorRegistration()" value="Create" class="btn btn-primary" />
            </div>

    </div>
</div>

<div>
    <a asp-action="VendorLoggingIn" asp-controller="Log" class="centered-link" style="color:#f9004d;">Back to LogIn</a>
</div>


<script>
    function VendorRegistration() {
        debugger;
        var CompanyName = $("#CompanyName").val();
        var CompanyAddress = $("#CompanyAddress").val();
        var CompanyPhone = $("#CompanyPhone").val();
        var CompanyEmail =$("#CompanyEmail").val();
        var CompanyPassword=$('#Password').val();

        if (!/^(98|97)[\d]{8}$/.test(CompanyPhone) && !/^(01)[\d]{6}$/.test(CompanyPhone)) {
            alert("Company Phone Number must start from 98/97/01 and must be of 8 or 10 numbers");
            return;
        }
        var emailRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
        if (!emailRegex.test(CompanyEmail)){
            alert("Invalid Email Format");
            return;
        }

         var passwordRegex=/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@@#$%^&*(),.?":{}|<>])[A-Za-z\d!@@#$%^&*(),.?":{}|<>]{8,20}$/;

        if (!passwordRegex.test(CompanyPassword)) {
            alert("Password must meet the following requirements:\n" +
                "1. Have at least one uppercase letter\n" +
                "2. Have at least one lowercase letter\n" +
                "3. Have at least one number\n" +
                "4. Have at least one special character\n" +
                "5. Be between 8 and 20 characters in length");
            return;
        }
     


        $.ajax({
            url: '@Url.Action("VendorRegistration","Project")',
            type:'POST',
            data:{
                CompanyName:CompanyName,
                CompanyAddress:CompanyAddress,
                CompanyPhone:CompanyPhone,
                CompanyEmail:CompanyEmail,
                Password:CompanyPassword
            },
            dataType:'Json',
            success:function(response){
                if(response.responseCode!=null){
                    alert(response.responseMessage);
                    window.location.href = '@Url.Action("VendorRegistration","Project")'
                }
                else{
                    alert("Insertion failed");
                }
            },
            error:function(xhr,status,error){
                alert("Error Occured")
            }

        })
    }
</script>