@{
    Layout = null;
}
<link href="~/css/vendordashboard.css" rel="stylesheet" />
<div class="MainDiv">
    <div class="nav">
        <div class="logo">
            <h6>Gaubesi</h6>
        </div>
        <ul class="nav-links">
            <li><a asp-controller="VendorDashboard" asp-action="VendorDashboard">Home</a></li>
            <li><a asp-controller="VendorDashboard" asp-action="GetPastVendorListView">PastRecords</a></li>
            <li><a asp-controller="VendorDashboard" asp-action="GetCurrentVendorListView">Live Deliveries</a></li>
            <li><a asp-controller="Log" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
</div>