@{
    Layout = null;
}

<div class="MainDiv">
    <div class="nav">
        <div class="logo">
            <h6>Gaubesi</h6>
        </div>
        <ul class="nav-links">
            <li><a asp-controller="Agent" asp-action="AgentDashboard">Home</a></li>
            <li><a asp-controller="Agent" asp-action="AgentPastRecords">PastRecords</a></li>
            <li><a asp-controller="Agent" asp-action="AgentTask">Tasks</a></li>
            <li><a asp-controller="Log" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
</div>